body, ul, li, p {
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-size: 1.2rem;
	font-family: "Gidole", sans-serif;
	font-weight: 400;
	font-style: normal;
}

body{
	position: absolute;
}

p {
	padding: 10px;
	margin: 10px;
}

a {
	text-decoration: none;
}

.header {
	display: flex;
	justify-content: space-around;
    flex-wrap: wrap;
    box-shadow: 1px 1px 4px 1px;    
	background-color: lightgreen;
	position: fixed;
	max-width: 100%;
	width: 100%;
}

.menu {
	display: flex;
    flex-wrap: wrap;
	justify-content: center;
	
}

.menu li {
	margin-left: 20px;
}

.menu li a {
	display: block;
	padding: 10px;
    text-decoration: none;
    color: black;
}

.competencias {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 20px;
	margin: 20px auto;
	text-align: center;	
	max-width: 40%;

}
.acompetencias ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.competencias li {
	margin: 10px;
	padding: 10px;
	background-color: #f0f0f0;
	border-radius: 5px;
	display: flex;
	align-items: center;
	border: dashed 1px;
}

.competencias li img {
	width: 50px;
	height: 50px;
	display: block;
	padding-right: 5px;
	
}

.competencias a {
	text-decoration: none;
	color: black;
}


.competencias-jogos {
	background-color: aliceblue;
	margin: 0 auto;
}

.competencias-jogos li {
	background-color: lightblue;
}

.competencias-sistemas {
	background-color: lightyellow;
	margin: 0 auto;
}

.competencias-sistemas li {
	background-color: moccasin;
}


.comp-header {
	background-color: lightgreen;
	margin: 0 auto;
	padding: 10px;
	font-size: 125%;
	box-shadow: 1px 1px 4px 1px;
	text-align: center;
	margin-top: 0;

}

.comp-jogos-header {
	background-color: lightblue;
	margin: 0 auto;
	margin-top: 40px;
	padding: 20px;
	font-size: 200%;
	box-shadow: 1px 1px 4px 1px;
	text-align: center;
}

.comp-jogos-content-header {
	max-width: 60%;
	margin: 0 auto;
	margin-top: -10px;
	padding: 20px;
	font-size: 125%;
	border: dashed 1px;
	text-align: center;
	background-color: lightblue;
}

.comp-jogos-content {
	background-color: aliceblue;
	max-width: 80%;
	margin: 0 auto;
	padding: 20px;
	margin-top: 10px;
	border: dashed 1px;
	text-align: center;
}

.comp-jogos-content li {
	list-style: none;
	margin: 10px;
}

pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid lightblue;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
	text-align: left;
}

.importante {
	background-color: #ff9d96;
	margin: 0 auto;
	border: dashed 2px red;
	border-radius: 50px;
}

.aviso {
	background-color: #f5f2c2;
	margin: 0 auto;
	border: dashed 2px #f7ed49;
	border-radius: 50px;
}





